<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  <title>Friends</title>

  <style>
    body {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <form>
        <div class="form-group">
          <label for="inputKeywords">
            Keywords
            (<div class="custom-control custom-checkbox d-inline-block">
              <input type="checkbox" class="custom-control-input" id="matchWholeWord" v-model="matchWholeWord" @change="search">
              <label class="custom-control-label" for="matchWholeWord">match whole word</label>
            </div>)
          </label>
          <input type="text" class="form-control" id="inputKeywords" v-model.trim="keywords" @input="search">
        </div>
        <div class="d-flex flex-wrap">
          <div class="p-2" v-for="(name, id) in friends" :key="id">
            <a :href="`http://facebook.com/${id}/photos`" target="_blank">
              <img :src="`http://graph.facebook.com/${id}/picture?type=normal`">
              {{ name }}
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        friends: {},
        originFriends: {},
        keywords: "",
        matchWholeWord: false
      },
      created() {
        fetch("./data.json")
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            this.originFriends = data;
            this.$nextTick(() => {
              this.search();
            });
          })
          .catch((error) => {
            debugger;
          });
      },
      methods: {
        search() {
          var keywordsArray = this.keywords.toLocaleLowerCase().split(" ").filter(x => x !== "");

          var filterFunction = (key) => {
            var value = this.originFriends[key].toLocaleLowerCase();
            var valid = keywordsArray.length === 0 ? true : false;
            for (let keyword of keywordsArray) {
              if (value.includes(keyword)) {
                valid = true;
                break;
              }
            }
            return valid;
          };
          if (this.matchWholeWord) {
            filterFunction = (key) => {
              var value = this.originFriends[key].toLocaleLowerCase();
              var valid = keywordsArray.length === 0 ? false : true;
              for (let keyword of keywordsArray) {
                if (!value.includes(keyword)) {
                  valid = false;
                  break;
                }
              }
              return valid;
            };
          }

          this.friends = Object.keys(this.originFriends)
            .filter(filterFunction)
            .reduce((obj, key) => {
              if (Object.keys(obj).length < 50) {
                obj[key] = this.originFriends[key];
              }
              return obj;
            }, {});

          this.$forceUpdate();
        }
      }
    })
  </script>
</body>

</html>
